<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
<body>
<table th:bgcolor="ghostwhite" th:cellpadding="10" border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
    </tr>
    <tr th:each="user : ${users}">
        <td><a th:href="@{/id(id=${user.getId()})}" th:text="${user.getId()}">Id</a></td>
        <td><a th:href="@{/id(id=${user.getId()})}" th:text="${user.getName()}">Name</a></td>
        <td><a th:href="@{/id(id=${user.getId()})}" th:text="${user.getLastName()}">LastName</a></td>
        <td><a th:href="@{/id(id=${user.getId()})}" th:text="${user.getAge()}">Age</a></td>
    </tr>
</table>
</head>

<div>

</div>
<a th:href="new">Add User</a>
</body>
</html>